<footer class="fancy-footer">
  <div class="footer-wave">
    <svg viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
  </div>

  <div class="footer-content">
    <div class="top">
      <div class="logo-details">
        <mat-icon class="logo-icon">school</mat-icon>
        <span class="logo_name"> ScholarSphere</span>
      </div>

      <div class="media-icons">
        <a target="_blank" href="#" matTooltip="Facebook" matTooltipPosition="above">
          <mat-icon svgIcon="fa:facebook"></mat-icon>
        </a>
        <a target="_blank" href="#" matTooltip="Instagram" matTooltipPosition="above">
          <mat-icon svgIcon="fa:instagram"></mat-icon>
        </a>
        <a target="_blank" href="#" matTooltip="Twitter" matTooltipPosition="above">
          <mat-icon svgIcon="fa:twitter"></mat-icon>
        </a>
        <a target="_blank" href="#" matTooltip="LinkedIn" matTooltipPosition="above">
          <mat-icon svgIcon="fa:linkedin"></mat-icon>
        </a>
        <a target="_blank" href="#" matTooltip="YouTube" matTooltipPosition="above">
          <mat-icon svgIcon="fa:youtube"></mat-icon>
        </a>
      </div>
    </div>

    <div class="link-boxes">
      <ul class="box">
        <li class="link_name">Explore</li>
        <li><a routerLink="/"><mat-icon>dashboard</mat-icon> Dashboard</a></li>
        <li><a routerLink="/courses"><mat-icon>library_books</mat-icon> Our Courses</a></li>
        <li><a routerLink="/submit-project"><mat-icon>assignment</mat-icon> Submit Project</a></li>
      </ul>

      <ul class="box">
        <li class="link_name">Discover</li>
        <li><a routerLink="/blog"><mat-icon>article</mat-icon> Learning Blog</a></li>
        <li><a routerLink="/community"><mat-icon>groups</mat-icon> Community</a></li>
        <li><a routerLink="/travel"><mat-icon>public</mat-icon> Study Travel</a></li>
      </ul>

      <ul class="box">
        <li class="link_name">Legal</li>
        <li><a routerLink="/license"><mat-icon>description</mat-icon> License Info</a></li>
        <li><a routerLink="/terms"><mat-icon>gavel</mat-icon> Terms & Conditions</a></li>
        <li><a routerLink="/privacy"><mat-icon>lock</mat-icon> Privacy Policy</a></li>
      </ul>

      <ul class="box">
        <li class="link_name">Contact</li>
        <li><a href="tel:+1234567890"><mat-icon>call</mat-icon> +1 (234) 567-890</a></li>
        <li><a href="mailto:support@elearn.com"><mat-icon>email</mat-icon> supportelearn.com</a></li>
        <li><a routerLink="/contact"><mat-icon>contact_mail</mat-icon> Contact Form</a></li>
      </ul>
    </div>
  </div>

  <div class="bottom-details">
    <div class="bottom_text">
      <span class="copyright_text">© {{currentYear}} ScholarSphere. All rights reserved.</span>
      <div class="policy_links">
        <a routerLink="/privacy">Privacy Policy</a>
        <span>|</span>
        <a routerLink="/terms">Terms & Conditions</a>
      </div>
    </div>
  </div>
</footer>
